@use "_colors.scss" as col;

.contact {
    background-color: col.$orange-main;
}

.contact__container {
    padding: 40px 0px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.contact__text {
    font-family: "Montserrat Bold";
    font-size: 24px;
    color: col.$white-main;
}

.contact__button-alt {
    span {
        white-space: pre;
    }

    &:hover {
        border-color: col.$white-main;
    }
}
