@use "_variables.scss" as col;
@use "_fonts.scss" as fn;

.header {
    background-color: col.$header-background;
    height: 100px;
    position: relative;
}

.header__container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
    box-sizing: border-box;
}

.header__left, .header__right {
    display: flex;
    flex-flow: row;
}

.header__info {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-left: 15px;
    img {
        filter: invert(100%);
        width: 24px;
        height: 24px;
    }
    &:first-child {
        margin-left: 0px;
    }
}

.header__info-text {
    margin-left: 10px;
    p {
        font-size: 12px;
    }
    p:first-of-type {
        font-family: "OpenSans SemiBold";
        color: col.$white-main;
    }
    p:last-of-type {
        font-family: "OpenSans Regular";
        color: col.$grey-main;
        margin-top: 10px;
    }
}

.header__right {
    img {
        filter: invert(100%);
    }
    a, img {
        width: 24px;
        height: 24px;
    }
    a {
        margin-left: 10px;
        &:first-child {
            margin-left: 0px;
        }
    }
}

.nav {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    height: 90px;
    background-color: col.$orange-main;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    box-sizing: border-box;
    color: col.$white-main;
}

.nav__left {
    display: flex;
    flex-flow: row;
    align-items: center;
    p {
        margin-left: 10px;
        font-size: 22px;
        font-family: "OpenSans SemiBold";
    }

    img {
        width: 24px;
        height: 24px;
    }
}

.nav__menu {
    display: flex;
    flex-flow: row;
    li {
        margin-left: 25px;
        list-style: none;
        &:first-child {
            margin-left: 0px;
        }

        a {
            color: col.$white-main;
            text-decoration: none;
            font-size: 16px;
            font-family: "OpenSans Regular";
        }
    }
}