@use "_colors.scss" as col;

.header {
    background-color: col.$header-background;
    height: 100px;
    position: relative;
}

.header__skip-link {
    display: flex;
    position: absolute;
    top: -10000px;
    left: 0;
    background-color: col.$orange-main;
    color: col.$white-main;
    font-size: 24px;
    font-family: "Montserrat Regular";
    padding: 10px;
    border-radius: 0 0 10px 0;
    z-index: 3;
    width: 140px;
    box-sizing: border-box;
    
    &:focus {
        top: 0;
        outline-color: col.$white-main;
        outline-width: 3px;
        outline-style: solid;
        outline-offset: -5px;
    }

    &:hover {
        font-weight: bold;
    }
}

.header__container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
    box-sizing: border-box;
}

.header__left,
.header__right {
    display: flex;
    flex-flow: row;
}

.header__info {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-left: 15px;

    img {
        filter: invert(100%);
        width: 24px;
        height: 24px;
    }

    &:first-child {
        margin-left: 0px;
    }
}

.header__info-text {
    margin-left: 10px;

    p {
        font-size: 12px;
    }

    p:first-of-type {
        font-family: "OpenSans SemiBold";
        color: col.$white-main;
    }

    p:last-of-type {
        font-family: "OpenSans Regular";
        color: col.$grey-main;
        margin-top: 10px;
    }
}

.header__right {
    img {
        filter: invert(100%);
    }

    a,
    img {
        width: 24px;
        height: 24px;
    }

    a {
        margin-left: 10px;

        &:first-child {
            margin-left: 0px;
        }

        &:focus {
            outline-width: 4px;
            outline-color: col.$white-main;
            outline-style: solid;
        }

        &:hover {
            transform: scale(1.5);
        }
    }
}

.nav {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    height: 90px;
    background-color: col.$orange-main;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    box-sizing: border-box;
    color: col.$white-main;
    z-index: 2;
}

.nav__left {
    z-index: inherit;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    background-color: col.$orange-main;
}

.nav__logo {
    display: flex;
    flex-flow: row wrap;

    p {
        margin-left: 10px;
        font-size: 22px;
        font-family: "OpenSans SemiBold";
    }

    img {
        width: 24px;
        height: 24px;
    }
}

.nav__icon {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 20px;
    height: 19px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;

    span {
        width: 100%;
        height: 3px;
        background-color: col.$white-main;
        transition: transform .3s ease, margin .3s ease;

        &:nth-child(1) {
            margin-bottom: 5px;
        }

        &:nth-child(3) {
            margin-top: 5px;
        }
    }
}

.nav__icon_clicked {
    span {
        &:nth-child(2) {
            display: none;
        }

        &:nth-child(1) {
            margin-bottom: -2px;
            transform: rotate(45deg);
        }

        &:nth-child(3) {
            margin-top: -1px;
            transform: rotate(-45deg);
        }
    }
}

.nav__right {
    z-index: 1;
    transition: top .3s ease;
}

.nav__menu {
    display: flex;
    flex-flow: row;

    li {
        margin-left: 25px;
        list-style: none;

        &:first-child {
            margin-left: 0px;
        }

        a {
            color: col.$white-main;
            text-decoration: none;
            font-size: 16px;
            font-family: "OpenSans Regular";

            &:focus {
                outline-width: 4px;
                outline-color: col.$white-main;
                outline-style: solid;

                &::after {
                    width: 0;
                    height: 0;
                }
            }

            &:active {
                outline: none;
            }

            &::after {
                content: "";
                display: block;
                width: 0%;
                height: 3px;
                margin-top: 5px;
                background-color: col.$white-main;
                border-radius: 3px;
                transition: width 0.2s ease;
            }

            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }
    }
}